<div class="row">
	<div class="col-4 col-lg-6 text-right"><%= subjectField.label %></div>
	<div class="col-8 col-lg-6"><%= Subject %></div>
</div>
<div class="row">
	<div class="col-4 col-lg-6 text-right"><%= statusField.label %></div>
	<div class="col-8 col-lg-6"><%= Status %></div>
</div>
<div class="row">
	<div class="col-4 col-lg-6 text-right"><%= activityDateField.label %></div>
	<div class="col-8 col-lg-6"><%= ActivityDate %></div>
</div>
<div class="row">
	<div class="col-4 col-lg-6 text-right"><%= priorityField.label %></div>
	<div class="col-8 col-lg-6"><%= Priority %></div>
</div>
<div class="row">
	<div class="col-4 col-lg-6 text-right"><%= descriptionField.label %></div>
	<div class="col-8 col-lg-6"><%= Description %></div>
</div>
<div class="col-12 col-lg-12">
	<a href="#task/edit/<%= Id %>" class="btn btn-primary btn-lg btn-block">Edit</a>
</div>